@font-face {
    font-family: 'Archangelsk';
    src: url(../fonts/archangelsk.eot);
    src: url(../fonts/archangelsk.svg),
    url(../fonts/archangelsk.woff) format(woff),
    url(../fonts/archangelsk.woff2) format(woff2);
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h2 {
    font-family: 'Archangelsk';
}

a {
    color: #52BEDC;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 1200px;
}

/** Навигационная панель */


.header-main {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav img{
    width: 296px;
}

.header-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header-ul li, a {
    cursor: pointer;
}

.header-ul img {
    width: 30px;
}


/** Баннер */


.section-banner {
    height: 1000px;
    background-image: url(../img/banner_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.banner-title-br {
    display: flex;
}

.banner-main {
    max-height: 630px;
    top: 631px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

.banner-text {
    background-image: url(../img/banner-text_bg.png);
    background-repeat: no-repeat;
    padding: 70px;
}

.banner-title-br {
    display: flex;
}

.banner-title {
    font-size: 62px;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn {
    width: 272px;
    height: 78px;
    background: #000000;
    color: #F8F200;
}

.btn:hover {
    background: #F8F200;
    color: #000000;
    border: 1px solid #000000;
}


/** Информация об игре */

.info-br {
    display: flex;
}

.section-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px 0;
}

.info-title {
    font-size: 62px;
    font-weight: 400;
    line-height: 100%;
}

.info-descr {
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    margin: 25px 0 70px 0;
}

.info-gallery {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.gallery-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.gallery-stand {
    display: flex;
}

.gallery-media {
    display: none;
}


/** ФОРМА */


.form-wrapper-images {
    display: flex;
}

.form-wrapper-images-small {
    display: none;
}

.form-br-stand {
    display: flex;
}

.form-br-media {
    display: none;
}

.form-gallery-small {
    display: none;
}

.form-gallery-big {
    display: flex;
    flex-direction: row;
}


.section-form {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-main {
    margin-top: 25px;
    color: #ffffff;
}

.form-logo-title {
    display: flex;
    flex-direction: row;
}

.form-title {
    margin: 55px 32px 0 32px;
    font-size: 62px;
    font-weight: regular;
}

.form-descr {
    font-size: 18px;
    line-height: 34px;
    margin: 25px 0 100px 0;
}

.form-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-game {
    width: 460px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: lighter;
}

.form-game input::placeholder {
    color: #ffffff;
}

.form-game input {
    border-bottom: 1px solid #777777;
}

.form-game input[type=text] {
    padding-top: 20px;
    margin-bottom: 35px;
}

.form-game input[type=email] {
    padding-top: 20px;
    margin-bottom: 35px;
}

.form-file-label {
    font-size: 18px;
    text-decoration: underline;
}

.form-game-screenshot { 
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px dashed #777777;
    margin-bottom: 35px;
    padding: 40px 20px;  
    color: #fff; 
}

.file-screenshot {
    position: absolute;
    left: 20px;
    top: 2445px;
    opacity: 0;
    cursor: pointer;
}

.form-game-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-game-checkbox input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #777777;
    background-color: #000000;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
    margin-right: 10px;
}

.form-game-checkbox input[type="checkbox"]:checked {
    background-color: #000000;
    border-color: #777777;
    background-image: url("../img/form_bird.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}

.form-game input[type=submit] {
    width: 192px;
    height: 60px;
    background: #F8F200;
    color: #000000;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-game input[type=submit]:hover {
    background: #000000;
    color: #F8F200;
    border: 2px solid #F8F200;
}


/** Реклама HP */


.ad-br-stand {
    display: flex;
}

.section-ad {
    background-color: #F8F200;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ad-main {
    display: flex;
    flex-direction: row;
    padding: 70px 0;
}

.ad-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-info {
    margin-left: 32px;
}

.ad-title {
    font-size: 62px;
    margin-bottom: 25px;
}

.ad-descr {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 25px;
}

.ad-ul {
    margin-bottom: 40px;
    align-items: center;
}

.ad-ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
}

.ad-ul img {
    margin-right: 15px;
    width: 25px;
}


/** Покупка игры */


.section-buy {
    height: 716px;
    display: flex;
    flex-direction: row;
    background-image: url(../img/buy_bg.jpg);
}

.buy-main {
    margin-left: 48%;
    color: #ffffff;
    background-color: #000000;
}

.buy-wrapper {
    margin-left: 32px;
    height: 716px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buy-title {
    font-size: 62px;
    margin-bottom: 25px;
}

.buy-descr {
    color: #52BEDC;
    font-size: 24px;
    font-weight: bold;
}

.buy-ul {
    align-items: center;
}

.buy-ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
}

.buy-ul img {
    margin-right: 15px;
    width: 25px;
}

.buy-descr-2 {
    color: #52BEDC;
    font-size: 24px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 25px;
}

.buy-gallery {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


/** Подвал - Лицензия */


.license-wrapper {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.license-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.license-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.license-logo:last-child {
    margin-left: 32px;
}

.license-link {
    color: #000000;
}

.license-link:last-child {
    margin-left: 32px;
}

.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-copy {
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-copy-text {
    text-align: center;
}